.featured-post__background {
    background-size: cover;
    background-position: center;
    height: 240px;
}
.post-box {
    border: 1px solid #dedede;
    background-color: #fbfbfb;
    border-radius: 20px;
    display: block;
}
.post-box__text-content {
    padding: 0 20px 20px;
}
