header {
    background: #3C414B;
}

.header-top {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 25px 0;
    text-align: center;
    background: #3C414B;
}

.flex ul {
    justify-content: space-between;
}

.left-bar {
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
}

.location {
    display: flex;
}

.right-bar {
    display: flex;
    align-items: center;
}

.popup-login {
    z-index: 99999;
}

.categories {
    background: #3C414B;
    color: #fff;
}

.header-bottom {
    display: flex;
    position: relative;
    min-width: 100%;
    height: 88px;
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15%;
}

.logo {
    margin: 20px;
    display: flex;
    align-self: center;
    width: 112px;
    height: 40px;
}

.button-menu {
    width: 75%;
    display: flex;
}

.button-menu button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #FA944A;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    align-items: start;
    height: 45px;
    width: 130px;
    border-radius: 8px;
}

.burger {
    padding-top: 3px;
}

.btn-label {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: auto;
    margin-left: 18px;
    margin-bottom: auto;
}

.search-container {
    width: 58.5%;
    height: 45px;
    align-items: center;;
    margin-top: 20px;
    margin-bottom: 22px;
    border-radius: 8px;
    border: 1px solid #AEB5C5;
}

form.search {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
}

.search button {
    margin: 7px;
    background-color: #FA944A;
    color: #FFFFFF;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.search input {
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 8px;
    width: 600px;
}

.basket {
    margin: 20px;
}

.status {
    margin: 20px;
}

.favorites {
    margin: 20px;
}
li.menu-sidebar::marker {
    display: none;
}

.menu-wrapper {
    background-color: #F2F4F8;
    position: absolute;
    width: 100%;
    height: 436px;
    left: 0;
    top: 100%;
    color: #4C4E52;
    z-index: 1;
}

.menu-sidebar{
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-content {
    width: 75%;
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
    color: #4C4E52;
    background-color: #FAFCFF;
}

.item {
    position: relative;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 140px;
    padding-bottom: 10px;
}

.item.active {
    background-color: #FFFFFF;
}

.item.active::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background-color: #FA944A;;
}

.item-active {
    background-color: #FFF;
    margin-right: 10px;
}
.sub-items-all {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

.sub-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
    align-items: center;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.sub-items .sub-item {
    position: relative;
    width: 30%;
    height: 12%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.sub-item.sub-active {
    background-color: #FFFFFF;
    position: relative;
}

.sub-item.sub-active::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background-color: #FA944A;;
}

.sub-items .sub-item .link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    height: 100%;
}

.sub-items-all .sub-item {
    width: 25%;
    height: 25%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.lazyload-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
